#
# MAXIM MAX326XXX mBED EVKit platform configuration
#
CONFIG_CONFIG_NAME="Pegasus_Generic_Bootloader"

#
# Platform setup
#
# CONFIG_PLATFORM_MAX32600MBED is not set
# CONFIG_PLATFORM_MAX32625MBED is not set
#CONFIG_PLATFORM_MAX32630HSP=y
CONFIG_PLATFORM_MAX32630FTHR=y
CONFIG_MAXIM_PLATFORM_NAME="MAX32630FTHR"
CONFIG_ENABLE_LED_STATUS=y

#
CONFIG_ENABLE_SMARTSENSOR=y
CONFIG_ENABLE_SS_BOOTLOADER=y

# Bootloader Configuration
#
#CONFIG_BOOTLOADER_USES_MFIO=y


# Data streaming setup
#
CONFIG_ASCII_COMM=y
CONFIG_ENABLE_SS_GENERICCMDCOMM=y

#
# Debug messages setup
#
#CONFIG_SHOW_DEBUG_MSGS=y
#CONFIG_SHOW_INFO_MSGS=y

#CONFIG_SSINTERFACE_USES_I2C=y
CONFIG_SSINTERFACE_USES_UART=y

STACK_SIZE = 0x10000
HEAP_SIZE = 0x10000
